.show {
    position: relative;
    width: 600px;
    height: 60px;
    overflow: hidden;
    color: #69ca62;
    box-shadow: inset 0 0 0 1px rgba(202, 148, 98, 0.5);
}
.show::before,
.show::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    width: 600px;
    height: 60px;
    content: "";
    background: #000;
    box-shadow: inset 0 0 0 2px;
    // border: 5px solid #fff;
    animation: clipMe 4s linear infinite;
    // border-top: 400px solid blue;
    // border-right: 400px solid blue;
    // border-bottom: 400px solid red;
    // border-left: 400px solid red;
    // animation: rotate 4s linear infinite;
}
.show::before {
    // animation-delay: -4s;
}

@keyframes clipMe {
    0%,
    100% {
        clip: rect(0px, 600px, 0px, 350px);
    }
    15% {
        clip: rect(0px, 600px, 60px, 440px);
    }
    55% {
        clip: rect(60px, 600px, 60px, 220px);
    }
    85% {
        clip: rect(0px, 250px, 60px, 0px);
    }
}
