.show {
    position: relative;
    z-index: 2;
    width: 600px;
    height: 60px;
    overflow: hidden;
    background: #041a40;
}
.show::before,
.show::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 598px;
    height: 58px;
    display: block;
    content: "";
    border-top: 1px solid red;
    border-bottom: 1px solid yellow;
    border-right: 1px solid #f60;
    border-left: 1px solid rgb(0, 38, 255);
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
}
.show::before {
    animation-delay: -4s;
}
.line {
    position: absolute;
    top: 40px;
    left: 30%;
    width: 40%;
    height: 1px;
    background: #f60;
    animation: ad_optyic 4s linear infinite;
}
.line::before,
.line::after {
    position: relative;
    display: block;
    content: "";
    height: 1px;
    background: rgb(65, 255, 7);
}
.line::before {
    top: 40px;
    width: 120%;
    animation: ad_width 30s linear infinite;
}
.line::after {
    bottom: -20px;
    left: 10%;
    width: 80%;
    // animation: ad_width 30s linear infinite;
}
@keyframes clipMe {
    0%,
    100% {
        clip: rect(0px, 600px, 1px, 300px);
    }
    10% {
        clip: rect(0px, 600px, 60px, 480px);
    }
    22% {
        clip: rect(59px, 600px, 60px, 300px);
    }
    48% {
        clip: rect(59px, 300px, 60px, 0px);
    }
    60% {
        clip: rect(0px, 120px, 60px, 0px);
    }
    78% {
        clip: rect(0px, 300px, 1px, 0px);
    }
}
@keyframes ad_width {
    0%,
    100% {
        width: 0%;
        left: 50%;
    }
    50% {
        left: -10%;
        width: 120%;
    }
}
@keyframes ad_optyic {
    0%,
    100% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
}
.pseudo {
    position: relative;
    border: 1px solid #093068;
}
.pseudo::after,
.pseudo::before {
    position: absolute;
    display: block;
    content: "";
    padding: 5px;
}
.pseudo::before {
    bottom: -5px;
    left: -5px;
    border-bottom: 3px solid #7599fd;
    border-left: 3px solid #7599fd;
}
.pseudo::after {
    bottom: -5px;
    right: -5px;
    border-bottom: 3px solid #7599fd;
    border-right: 3px solid #7599fd;
}
.box-title {
    position: relative;
}
.box-title::after,
.box-title::before {
    position: absolute;
    display: block;
    content: "";
    padding: 5px;
}
.box-title::before {
    top: -5px;
    left: -5px;
    border-top: 3px solid #7599fd;
    border-left: 3px solid #7599fd;
}
.box-title::after {
    top: -5px;
    right: -5px;
    border-top: 3px solid #7599fd;
    border-right: 3px solid #7599fd;
}

::v-deep .el-table,
::v-deep .el-table__expanded-cell {
    background-color: transparent;
    color: #fff;
}
::v-deep .el-table {
    border-top: 2px solid rgba(8, 44, 97, 100);
    border-left: 2px solid rgba(8, 44, 97, 100);
    border-bottom: none;
}
::v-deep .el-table td {
    border-right: 2px solid rgba(8, 44, 97, 100);
}
::v-deep .el-table td:nth-last-child {
    border-right: none;
}
::v-deep .has-gutter {
    /* display: none; */
    background-color: transparent !important;
}

::v-deep .el-table::before {
    background: transparent;
}
::v-deep .el-table thead th {
    background-color: transparent !important;
    color: #ffffff;
    border-right: 2px solid rgba(8, 44, 97, 100) !important;
    border-bottom: 2px solid rgba(8, 44, 97, 100) !important;
}
::v-deep .el-table thead th:nth-last-child {
    border-right: none;
}

::v-deep .el-table tbody td {
    border-bottom: 2px solid rgba(8, 44, 97, 100) !important;
}

/* 表格内背景颜色 */
::v-deep .el-table th,
::v-deep .el-table tr,
.el-table td {
    background-color: transparent;
}
::v-deep .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: transparent !important;
}
::v-deep .el-table__header-wrapper {
    background-color: transparent !important;
}
::v-deep .el-table .el-table__body .cell {
    color: #fff;
}
::v-deep .el-table th.el-table__cell > .cell {
    color: #fff;
}
