.el-input .el-input__inner{
    height: 36px;
    line-height: 36px;
}
.el-form-item{
    margin-bottom: 25px;
    font-size: 16px;
}
.el-input__inner:hover{
    border: 1px solid #409eff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type='number'] {
  -moz-appearance: textfield !important;
}
.el-button{
    min-height: 36px;
    height: 36px;
}
