@font-face {
  font-family: "iconfont"; /* Project id 2898951 */
  src: url('iconfont.woff2?t=1636706787069') format('woff2'),
       url('iconfont.woff?t=1636706787069') format('woff'),
       url('iconfont.ttf?t=1636706787069') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e856";
}

.icon-tubiao_dongtai:before {
  content: "\e60a";
}

.icon-tubiao_shujukanban:before {
  content: "\e60b";
}

.icon-tubiao_xiangmuguanli:before {
  content: "\e60c";
}

.icon-tubiao_hangzhengguanli:before {
  content: "\e60d";
}

.icon-tubiao_OAshenpi:before {
  content: "\e60e";
}

.icon-tubiao_caiwu:before {
  content: "\e60f";
}

.icon-tubiao_fawuguanli:before {
  content: "\e610";
}

.icon-tubiao_yonghuzhongxin:before {
  content: "\e611";
}

.icon-tubiao_jituanzuzhijiagouguanli:before {
  content: "\e612";
}

.icon-tubiao_daiban:before {
  content: "\e613";
}

.icon-tubiao_yunyingguanli:before {
  content: "\e614";
}

.icon-tubiao_gongzuotai:before {
  content: "\e615";
}

.icon-tubiao_kehuguanli:before {
  content: "\e616";
}

.icon-tubiao_shezhi:before {
  content: "\e617";
}

.icon-tubiao_gongzuohuibao:before {
  content: "\e618";
}

.icon-tubiao_richeng:before {
  content: "\e619";
}

.icon-tubiao_renshiguanli:before {
  content: "\e61a";
}

.icon-tubiao_ziyuanguanli:before {
  content: "\e61b";
}

